@font-face {
    font-family: 'Creepster';
    src: url(../fonts/Creepster-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Archivo Black';
    src: url(../fonts/ArchivoBlack-Regular.ttf) format("truetype");
}

.aboveHeader {
    width: 100vw;
    height: 15vh;
    background: #1A001E;
    position: relative;
}

.zooLogo {
    width: 390px;
    height: 100px;
    background: url("../images/jolslogo2021.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    position: absolute;
}

.membership {
    font-family: 'Creepster';
    font-size: 1.75em;
    color: #FFEA8C;
    background: #1A001E;
    position:absolute;
    letter-spacing: 0.1px;
    margin: auto;
    width: 200px;
    height: 48px;
    padding: 8px 10px 0px 10px;
    left: 95%;
    top: 50%;
    transform:translate(-95%,-50%);
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: #FFEA8C 3px solid;
    transition: 1s;
}

.donate {
    font-family: 'Creepster';
    font-size: 1.75em;
    color: #FFEA8C;
    background: #1A001E;
    position:absolute;
    letter-spacing: 0.1px;
    margin: auto;
    width: 200px;
    height: 48px;
    padding: 8px 10px 0px 10px;
    left: 75%;
    top: 50%;
    transform:translate(-75%,-50%);
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: #FFEA8C 3px solid;
    transition: 1s;
}

.header {
    width: 100vw;
    height: 10vh;
    background: #780145;
    position: relative;
}

.headerButton1 {
    font-family: 'Creepster';
    font-size: 1.75em;
    color: #FFEA8C;
    background: #780145;
    position:absolute;
    letter-spacing: 0.1px;
    margin: auto;
    width: 200px;
    height: 48px;
    padding: 8px 10px 0px 10px;
    left: 5%;
    top: 50%;
    transform:translate(-5%,-50%);
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: #FFEA8C 3px solid;
    transition: 1s;
}

.headerButton2 {
    font-family: 'Creepster';
    font-size: 1.75em;
    color: #FFEA8C;
    background: #1A001E;
    position:absolute;
    letter-spacing: 0.1px;
    margin: auto;
    width: 200px;
    height: 48px;
    padding: 8px 5px 0px 5px;
    left: 27.5%;
    top: 50%;
    transform:translate(-27.5%,-50%);
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: #FFEA8C 3px solid;
    transition: 1s;
}

.headerButton3 {
    font-family: 'Creepster';
    font-size: 1.75em;
    color: #FFEA8C;
    background: #780145;
    position:absolute;
    letter-spacing: 0.1px;
    margin: auto;
    width: 250px;
    height: 48px;
    padding: 8px 5px 0px 5px;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: #FFEA8C 3px solid;
    transition: 1s;
}

.headerButton4 {
    font-family: 'Creepster';
    font-size: 1.75em;
    color: #FFEA8C;
    background: #780145;
    position:absolute;
    letter-spacing: 0.1px;
    margin: auto;
    width: 200px;
    height: 48px;
    padding: 8px 5px 0px 5px;
    left: 72.5%;
    top: 50%;
    transform:translate(-72.5%,-50%);
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: #FFEA8C 3px solid;
    transition: 1s;
}

.headerButton5 {
    font-family: 'Creepster';
    font-size: 2em;
    color: #FFEA8C;
    background: #780145;
    position:absolute;
    letter-spacing: 0.1px;
    display: block;
    margin: auto;
    width: 200px;
    height: 20px;
    padding: 10px;
    left: 95%;
    top: 50%;
    transform:translate(-95%,-50%);
    text-align: center;
    text-decoration: none;
    border: #FFEA8C 3px solid;
    transition: 1s;
}

.voting {
    width: 100vw;
    height: 400vh;
    background: #780145;
    display: flex;
    background-size: cover;
    position: relative;
}

.title {
    font-family: 'Creepster';
    font-size: 5em;
    color: #FFEA8C;
    position: absolute;
    left: 50%;
    top: 1%;
    transform:translate(-50%,-1%);
    letter-spacing: 0.3px;
    text-align: center;
    width: 80%;
}

.filter {
    font-family: 'Creepster';
    font-size: 2.5em;
    color: #FFEA8C;
    position: absolute;
    left: 50%;
    top: 5%;
    transform:translate(-50%,-5%);
    letter-spacing: 0.3px;
    text-align: center;
    width: 90%;
}

.filter span {
    margin-right: 40px;
}

.pic1 {
    width: 300px;
    height: 300px;
    background: url("../images/Pantheon.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: 0px;
}

.name {
    font-family: 'Creepster';
    font-size: 2em;
    color: #FFEA8C;
    letter-spacing: 0.3px;
    text-align: center;
    width: 300px;
}

.resultContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-family: 'Archivo Black';
    font-size: 1em;
    color: white;
    height: 100px;
    width: 300px;
}

.result {
    font-size: 3em;
    color: #FFEA8C;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.voteButton {
    background: url(../images/Vector.svg) center no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px; 
    border: none;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.voteButton:hover {
    transform: scale(1.1);
}

.pic2 {
    width: 300px;
    height: 300px;
    background: url("../images/zombie.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: -150px;
}

.pic3 {
    width: 300px;
    height: 300px;
    background: url("../images/avatar.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: 0px;
}

.pic4 {
    width: 300px;
    height: 300px;
    background: url("../images/frank.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: -130px;
}

.pic5 {
    width: 300px;
    height: 300px;
    background: url("../images/piza.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: -20px;
}

.pic6 {
    width: 300px;
    height: 300px;
    background: url("../images/monster-squid-2903354676-o.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: -110px;
}

.pic7 {
    width: 300px;
    height: 300px;
    background: url("../images/T-Rex.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: 0px;
}

.pic8 {
    width: 300px;
    height: 300px;
    background: url("../images/king-tut-2889255140-o.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: -100px;
}

.pic9 {
    width: 300px;
    height: 300px;
    background: url("../images/Beetle.jpg") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: -140px;
}

.pic10 {
    width: 300px;
    height: 300px;
    background: url("../images/snoop.JPG") center no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: 0px;
}

.pic11 {
    width: 300px;
    height: 300px;
    background: url("../images/Totoro.JPG") center no-repeat;
    display: flex;
    background-size: cover;
}

.pic12 {
    width: 300px;
    height: 300px;
    background: url("../images/Horse.jpeg") center no-repeat;
    display: flex;
    background-size: cover;
}

.pic13 {
    width: 300px;
    height: 300px;
    background: url("../images/DrStrange.jpg") center no-repeat;
    display: flex;
    background-size: cover;
}

.pic14 {
    width: 300px;
    height: 300px;
    background: url("../images/Dune.jpg") center no-repeat;
    display: flex;
    background-size: cover;
}

.pic15 {
    width: 300px;
    height: 300px;
    background: url("../images/LightHouse.jpg") center no-repeat;
    display: flex;
    background-size: cover;
}

.regular {
    font-family: 'Archivo Black';
    font-size: 2em;
    color: #FFEA8C;
    background: #780145;
    position: absolute;
    letter-spacing: 0.1px;
    display: block;
    margin: auto;
    width: 580px;
    padding: 10px;
    left: 50%;
    bottom: 40%;
    transform:translate(-50%,-20%);
    text-align: center;
    text-decoration: none;
    transition: 1s;
}

.title2 {
    font-family: 'Creepster';
    font-size: 4em;
    color: #FFEA8C;
    position: absolute;
    left: 50%;
    top: 7%;
    transform:translate(-50%,-7%);
    letter-spacing: 0.3px;
    text-align: center;
    width: 60%;
}

.description {
    font-family: 'Archivo Black';
    font-size: 1em;
    color: #FFEA8C;
    position: absolute;
    left: 50%;
    top: 20%;
    transform:translate(-50%,-20%);
    letter-spacing: 0.3px;
    text-align: center;
    width: 60%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 6.4%;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    height: 350vh;
}

.grid-item {
    box-sizing: border-box;
    height: 18%;
    width: 300px;
    margin: 40px 60px;
    float: left;
    position: relative;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #780145;
    border: none;
    border-radius: 5px;
    color: #FFEA8C;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Creepster';
    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: #FFA500; /* Darker orange on hover */
}

.filter-btn:focus {
    outline: none;
    background-color: #d58512; /* Even darker orange when clicked */
}

.footer {
    width: 100vw;
    height: 10vh;
    background: #1A001E;
    position: relative;
}

.footerText {
    font-family: 'Archivo Black';
    font-size: 1em;
    color: #FFEA8C;
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    letter-spacing: 0.3px;
    text-align: center;
    width: 60%;
}